<h1>Let's Try AJAX in Rails</h1>

<%= form_for [@product, Product.new] do |f| %>
		<ul>
			<li>
				<%= f.text_area :name, placeholder: "Post your product here" %>
			</li>
			<li>
				<%= f.text_area :price, placeholder: "Set a price here" %>
			</li>
			<li>
				<%= f.submit 'Submit', class: 'button' %>
			</li>
		</ul>
<% end %>

<ol id='products'>
	<%= render @products %>
</ol>